* {
    padding: 0;
    margin: 0;
}
body {
    background-color: pink;
}
#navbar {
    position: fixed;
    width: 100vw;
    z-index: 20;
    background-color: black;
    display: flex;
}
#logo {
    height: 4vw; 
    width: 4vw; 
    padding: 0px 1vmin 0px 2vmin;
    cursor: pointer;
}
#name {
    color: white;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1; /* Fills remaining space */
    align-self: center;
}
#navbar ul {
    list-style: none;
    padding: 0; 
    margin: 0;
    text-align: center;
    overflow: hidden;
}
#navbar a {
    color: white;
    text-decoration: none;
    display: block;
    height: 100%;
    font-size: 2vw;
    padding: 1vw;
}
#navbar a:hover {
    background-color: #FF4A4A;;
    cursor: pointer;
}
#navbar li{
    float: right;
}
#project_list{
    min-width: 81vw;
}
.project {
    width: 23vw;
    height: 35vw;
    margin: 1vw;
    padding: 1vw;
    border-radius: 3vw;
}
.header {
    width: 100%;
    display: flex; 
    align-items: center;
}
#SF_Maps {
    background-color: rgb(161, 13, 161);
    color: yellow;
}
#SF_Maps img {
    width: 60px;
    height: 60px;
}
@media(orientation: portrait){
    #logo {
        width: 8vw;
        height: 8vw;
    }
    #name {
        font-size: 3vw;
    }   
    #navbar a {
        font-size: 3.5vw;
        padding: 2vw;
    }
    #project_list {
        margin-top: 9vw;
    }
}