* {
    box-sizing: border-box;
}

.graph-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.graph-body .connector-line {
    width: 3px;
    height: 75%; 
    background-color: lightslategray;
    position: absolute;
    top: 12.5%; 
    z-index: -1;
}

.node {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.node .bulb {
    width: 4rem;
    aspect-ratio: 1/1;
    border: solid white 1px;
    border-radius: 4rem;
    box-shadow: 0 0 8px gray;
    background-color: rgb(228, 0, 0);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.node .text-box{
    position: absolute;
    height: auto;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px;
    padding: 10px;
    top: 25%;
    background-color: rgb(255, 202, 202); /* rgb(255, 202, 202); */
}

.node .text-box p {
    line-height: 30px;
    margin: 0;
}

.node .text-box .duration {
    display: flex;
    align-items: center;
    gap: 6px;
}

.node .text-box .calendar-icon {
    flex-shrink: 0;
}

.even {
    right: 0;
}

@media (width < 1000px){
    .graph-body .connector-line {
        left: 20px;
    }
    .node .bulb {
        margin: auto 0 auto 0;
    }
    .node .text-box{
        right: 0;
        width: 75%;
    }
}
